@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/*
$primary-color:             #2FA0D0;
$primary-color-opposite:    $white;

$secondary-color:           #76C2AF;
$secondary-color-opposite:  $white;

$alert-color:               #FF1654;
$alert-color-opposite:      $white;

$success-color:             #40BD9D;
$success-color-opposite:    $white;

$warning-color:             #FF9F1C;
$warning-color-opposite:    $white;

$info-color:                #002F2F;
$info-color-opposite:       $white;
*/

html, body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #FF9F1C;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  /*line-height: 2rem;*/
}

h2 {
  color: #2FA0D0;
  font-size: 2rem;
  margin-bottom: 1rem;
  /*line-height: 3rem;*/
}

p {
  line-height: 1.4;
  font-family: 'Source Code Pro', monospace;

}

body {
  padding: 1rem;
}


.intro {
  max-width: 800px;
  padding: 1rem;
  /*background-color: #ccc;*/
  margin: 0 auto;

}
